<header class="header">
  <div class="header-bar">
    <div class="cta-buttons">
      <a href="https://play.google.com/store/apps/developer?id=NerVox" class="btn" target="_blank">My Projects</a>
      <a href="/about" class="btn">About Me</a>
    </div>
    <div class="language-selector">
      <a href="/lang-fr" class="btn" id="lang-fr">Fr</a>
      <a href="/lang-en" class="btn" id="lang-en">En</a>
    </div>
  </div>
  <div class="header-image">
    <img src="/assets/my-picture.jpg" alt="Portfolio Image" class="header-img">
  </div>
  <div class="header-content">
    <h1 class="header-title">Welcome to My Portfolio</h1>
    <p class="header-introduction">Hi, I'm <strong>Amin Boudeghdegh</strong>, a passionate developer and former
      electrical engineer, which was my major. I am the original creator of<br>
      <a href="https://play.google.com/store/apps/details?id=com.nerovero.beautycalculator" target="_blank"
        style="text-decoration: none;"><em>Beauty Calculator</em></a> and
      <a href="https://play.google.com/store/apps/details?id=com.nerovero.camerago" target="_blank"
        style="text-decoration: none;"><em>Camera Go</em></a> apps. In addition to these, I have developed
      numerous other apps. Feel free to explore my work and projects below!
    </p>
  </div>
</header>