<header class="header">
  <div class="header-bar">
    <div class="cta-buttons">
      <a href="https://play.google.com/store/apps/developer?id=NerVox" class="btn" target="_blank">Mes Projets</a>
      <a href="/about" class="btn">À propos de moi</a>
    </div>
    <div class="language-selector">
      <a href="/lang-fr" class="btn" id="lang-fr">Fr</a>
      <a href="/lang-en" class="btn" id="lang-en">En</a>
    </div>
  </div>
  <div class="header-image">
    <img src="/assets/my-picture.jpg" alt="Image du Portfolio" class="header-img">
  </div>
  <div class="header-content">
    <h1 class="header-title">Bienvenue sur Mon Portfolio</h1>
    <p class="header-introduction">Bonjour, je suis <strong>Amin Boudeghdegh</strong>, un développeur passionné et
      ancien
      ingénieur électricien, domaine dans lequel j'ai étudié. Je suis le créateur original de<br>
      <a href="https://play.google.com/store/apps/details?id=com.nerovero.beautycalculator" target="_blank"
        style="text-decoration: none;"><em>Beauty Calculator</em></a> et
      <a href="https://play.google.com/store/apps/details?id=com.nerovero.camerago" target="_blank"
        style="text-decoration: none;"><em>Camera Go</em></a> parmi d'autres applications. En plus de celles-ci, j'ai
      développé
      de nombreuses autres applications. N'hésitez pas à explorer mon travail et mes projets ci-dessous !
    </p>
  </div>
</header>